/* Responsive: Stack on small screens */
@media (max-width: 768px) {
  .logo{
    display: none;
  }

  .glass-container {
    width: 100%;
    height: 60px;
    padding: 0px 16px;
  }

  .nav{
    padding: 0;
  }

  .hero{
    margin-top: -20px;
  }

  .hero-name {
    font-size: 3rem;
  }

  .hero-title{
    padding-top: 30px;
    font-size: 6rem;
    line-height: 0.8;
  }

  .hero-tagline{
    font-size: 14px;
    margin-top: -10px;
  }

  .hero-desc{
    width: 370px;
    font-size: 12px;
  }

  .services-section {
    margin: 10px 25px 10px 25px;
  }

  .section-title {
    font-size: 3rem;
    font-weight: 500;
  }

  .section-subtitle {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }

  /* Swiper Setup */
  .swiper {
    margin: 0px;
    padding: 20px;
  }

  .project-card .image {
    background: rgba(255, 255, 255, 0.04);
    padding: 8px;
  }

  .swiper-slide-active .image {
    box-shadow: 0 0 22px rgba(181, 225, 0, 0.4);
    transform: scale(1.02);
  }

  .testimonial-section {
    margin: 30px 0px;
    padding: 20px;
    margin-bottom: 280px;
  }

  .card-body {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 15px 15px;
  }

  .card-img {
    width: 100%;
    height: auto;
    border-radius: 40px;
  }

  .card-text {
    padding: 10px ;
    text-align: center;
    height: 180px;
  }

  .card-text p {
    font-size: 15px;
  }

  .card-text h2 {
    font-size: 18px;
    margin-top: 15px;
  }

  #cards {
    gap: 35vh;
  }

  .pricing-flex {
    gap: 0px;
  }

  .cta-title {
    font-size: 2rem;
  }

  .cta-subtitle {
    font-size: 0.8rem;
  }

  .faq-section {
    width: 380px;
    margin: 100px 0px 60px 15px;
    padding: 30px 10px;
  }

  .faq-section h2 {
    font-size: 2rem;
  }

  .faq-question {
    font-size: 1rem;
  }

  .faq-question p {
    font-size: 1rem;
    margin-left: 10px;
  }

  .faq-answer {
    margin-left: 20px;
    font-size: 0.95rem;
  }

  .footer-top {
    flex-direction: column;
    gap: 40px;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-tagline {
    font-size: 14px;
    font-weight: 600;
  }

  .footer-split-button {
    justify-content: center;
  }

  /* Stack columns inside right section */
  .footer-right {
    gap: 40px;
  }



  /* Align all footer columns to center */
  .footer-column {
    text-align: center;
  }

  .footer-social {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .newsletter-box {
    flex-direction: column;
  }

  .newsletter-box input,
  .newsletter-box button {
    width: 100%;
    text-align: center;
  }

  .footer-bottom {
    font-size: 13px;
    line-height: 1.6;
  }

  .footer-legal {
    margin-top: 8px;
  }





}
